.heading {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #3f51b5;
}

.content {
    padding-top: 10px;
}

.row {
    display: flex;
    gap: 10px;

    mat-form-field {
        width: 100%;
    }
}

.action {
    padding: 0px 25px 20px;
    button {
        flex: 1
    }
}