<div class="profile">
    <mat-card class="example-card">
        <!-- <mat-card-header> -->
            <h1 class="heading">Employee <span style="color: black;">Profile</span></h1>
            <!-- <mat-card-title><b><span>Employee</span> Profile</b></mat-card-title> -->
            <!-- <mat-card-subtitle></mat-card-subtitle> -->
        <!-- </mat-card-header> -->
        <!-- <img mat-card-image src="assets/bug_report.png" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <div mat-dialog-content class="content">
                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput type="email" placeholder="Ex. test@gmail.com">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="password">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput type="text" placeholder="First Name">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last Name">
                    </mat-form-field>
                </div>
                <div class="row">
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Date of birth</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row" style="flex: 1; align-items: center;">
                    <mat-radio-group aria-label="Select an option">
                        <mat-label style="color: #3f51b5;"><b>Gender</b></mat-label>
                        <mat-radio-button value="male">Male</mat-radio-button>
                        <mat-radio-button value="female">Female</mat-radio-button>
                        <mat-radio-button value="others">Others</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="row">
                    <mat-form-field appearance="outline" >
                        <mat-label>Role</mat-label>
                        <mat-select>
                            <!-- <mat-option *ngFor="let val of roles" [value]="val">
                                {{val}}
                            </mat-option> -->
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Experience</mat-label>
                        <input matInput placeholder="Ex. 4" type="number">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>Expertise</mat-label>
                        <input matInput placeholder="Ex. 4" type="number">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Company</mat-label>
                        <input matInput placeholder="Ex. Google">
                    </mat-form-field>
                </div>
            </div>
            <!-- <div mat-dialog-actions class="action"> -->
                 <!-- <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button> [mat-dialog-close]="false" will close the dialog box and return false -->
                 <!-- <button mat-raised-button color="primary" type="submit">Save</button> -->
            <!-- </div> -->
        </mat-card-content>
        <div class="rowbutton">
            <div mat-dialog-actions class="action">
                <!-- <button mat-raised-button color="primary">View</button> -->
                <button mat-icon-button color="primary">
                    <mat-icon>create</mat-icon>
                </button>
                <button mat-icon-button color="warn">
                    <mat-icon>new_releases</mat-icon>
                </button>
                <button mat-icon-button color="primary">
                    <mat-icon>done_outline</mat-icon>
                </button>
            </div>
        </div>
    </mat-card>
</div>